<div class="show">
  <div class="site-wrapper-inner">
  <br><br><br><br><br>
    <h1>This site is brought to you by:</h1> <br>
    <h3>Andrew Taylor</h3> <br>
    <a href="https://www.linkedin.com/in/andrew-taylor-838349133">www.linkedin.com/in/andrew-taylor-838349133</a>
    <p>danteadar@gmail.com</p>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
  </div>
</div>