<div class="show">
  <div class="site-wrapper-inner">
  <br><br><br><br><br>
    <h1>This site is brought to you by:</h1> <br>
    <h3><u>Andrew Taylor</u> <br>
    <a class="black"  target="_blank" href="https://www.linkedin.com/in/--andrewtaylor--">www.linkedin.com/in/--andrewtaylor--</a> </h3>
    <h3><a class="black" href="mailto:danteadar@gmail.com">danteadar@gmail.com</a></h3>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
  </div>
</div>