<div class="show">
  <div class="site-wrapper-inner">
  <br><br><br><br><br>
    <h1>This site is brought to you by:</h1> <br>
    <h3><u>Andrew Taylor</u> <br>
    <a class="black"  href="https://www.linkedin.com/in/andrew-taylor-838349133">www.linkedin.com/in/andrew-taylor-838349133</a> </h3>
    <h3>danteadar@gmail.com</h3>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
  </div>
</div>