<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/Draft-Beer-web1.jpg')">
        <div class="container" style='margin: 0px; width: 100%'>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Beer Review</h1>
                        <hr class="small">
                        <span class="subheading">A place to make observations about the beers you drink</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div ng-app="app">
      <div ng-controller="beersCtrl" ng-init="setup()">
        <div class="searchfield">
        Search for a beer to review: <br> <input ng-model="keyword" ng-keyup="$event.keyCode == 13 && apiSearch(keyword)" placeholder="This is where your search begins">
           <button ng-click="apiSearch(keyword)">Search</button><br><br>
        </div>

        <!-- Warming Up -->
        <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>

        <!--Video Section-->
        <section class="content-section video-section">
          <div class="pattern-overlay">
          <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=DK3w8rNY09k',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
            
                
             
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1>The Beers:</h1>
                <hr>
                  <div ng-repeat="beer in beers | filter: beerFilter | limitTo:8">
                    <div class="post-preview">
                      <h2 class="post-title" data-toggle="modal" data-target="#beer{{$index}}" ng-click="getReviews(beer.api_beer_id)">
                        {{ beer.name }}
                      </h2>
                      <h3 class="post-subtitle">
                      {{ beer.brewery }}
                      </h3>
                      <p class="post-meta">
                        {{ beer.style.category.name }}
                      </p>
                    </div>
                    <hr>
                    <div class="modal fade" id="beer{{$index}}" role="dialog">
                              <div class="modal-dialog">
                              
                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{ beer.name }} - {{ beer.style.category.name }}</h4>
                                    <p>{{ beer.brewery }}</p>
                                  </div>
                                  <div class="modal-body">
                                    <p>ABV: {{ beer.abv }} <br>
                                    IBU: {{ beer.ibu }} <br>
                                    Glass: {{ beer.glass.name }} <br>
                                    <!-- Organic: {{ beer.isOrganic }}</p> -->

                                    <p> {{ beer.description }} </p>
                                  </div>
                                  <hr>
                                <%if current_user %>
                                  <div class="modal-body">
                                  <%= form_tag "/reviews/", method: :post do  %>
                                    <div>Rating: 
                                    <select name="rating">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                    </select>
                                    </div>
                                    <br>
                                    <div>
                                    <input type="hidden" name="api_beer_id" value="{{ beer.api_beer_id }}">
                                      <%= label_tag :review %>:  
                                      <%= text_area_tag :review %> <br> <br>
                                    </div>
                                    

                                    <%= submit_tag "Submit" %> <br><br>
                    <!--                 <button type="button" class="btn btn-default" ></button>
                     -->
                                    <% end %>
                                    <% else %>
                                    <p>Please log in to submit a review</p>
                                    <% end %>
                                <hr>


                                  <h4>Previous Reviews:</h4> 
                                      <div ng-repeat="review in reviews">
                                      Reviewed by: {{review.username}} <br>
                                      Rating: {{review.rating}} <br>
                                      Review: {{review.review}} <br><br>
                                      </div>
                                  </div>

                    
                </div>
            </div>
        </div>

             
          </div>
        </section>
        <!--Video Section Ends Here-->

