// Place all the styles related to the Beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-meta {
  color: #ACA885 !important;
}

h1 {
  
  margin: 30px 0px 0px 0px;
}
h2 {
  
  margin: 0px;
}
h3 {
  
  margin: 0px;
}
p {
  
  margin: 0px;
}

.container {
  margin: 0px !important;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    padding: 0px;
    text-align: center;
  }
}

.searchfield {
  background-color: black;
  text-align: center;
  margin-top: -50px;
  padding-top: 20px;
  color: #ACA885;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;

}

.searchfield button {
  color: black;
}

.searchfield input {
  width: 30%;
  color: black;
}

div h2:hover {
  color: #FFFBBD;
  cursor: pointer;
}

.modal {
    opacity:0.95;
}

.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
min-height: 1200px; 
/* Incase of overlay problems just increase the min-height*/
}


.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

